release*/
production*/
*.zip


# Local settings for the current project
*.kicad_prl

*.kicad_sch-bak

# Cache to speed up loading of footprint libraries. 
fp-info-cache

# Folder containg project backups
*-backups
*autosave*
*auto_saved*
*.pdf

# Temporary files
# Lock files
*.lck
fabrication-toolkit-options.json